a {
    color: black;
    font-size: small;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 130px;
    margin: 0 auto;
}

.footer {
    background: #f2f2f2;
    font-family: arial;
    color: #757575;
    padding: 5px;
    bottom: 0;
    position: fixed;
    width: 100%;
    left: -5px;
}

.footer a {
    color: #757575;
    padding: 5px;
    font-size: 10pt;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

.header-left {
    float: left;
    padding: 10px 10px 10px 10px;
}

nav ul li {
    display: inline;
    margin: 5px;
    font-size: 13px;
}

nav ul img {
    width: 15px;
    height: 15px;
}

.right-corner {
    float: left;
}

.header {
    font-family: arial;
    color: black;
    padding: 10px;
    top: 0;
    position: fixed;
    width: 100%;
    left: -5px;
}

.header a {
    color: black;
    padding: 5px;
    font-size: 10pt;
}

.signIn-btn {
    background-color: #4285F4;
    border: none;
    padding: 12px 12px 12px 12px;
    font-weight: bold;
    color: #fff;
    border-radius: 2px;
}

.signIn-btn:hover {
    box-shadow: 1px 1px #888888;
}

input[type="search"] {
    height: 37px;
    width: 550px;
    border-radius: 20px;
    border: none;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.climate a {
    color: blue;
    font-size: 14px;
}

.google-buttons {
    padding-top: 30px;
    font-family: arial;
}

.logo {
    padding: 30px;
}

.btn1 {
    height: 40px;
    color: gray;
    border: none;
    font-size: 14px;

}

.btn1:hover {
    color: black;
    font-size: 14px;
    border: 1px solid #bdbdbd;
    box-shadow: 0px 0.5px 0px 0px #d3d3d3;
}

#left-edge {
    padding-left: 30px;
}

.fa-share-alt {
    color: #4285F4;
}

.space-r {
    padding: 10px 10px 10px 10px;
    float: right;
}
